<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <!-- 프로젝트 css -->
  <link rel="stylesheet" href="/public/css/main.css">
  <!-- 구글폰츠 아이콘 -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>주간솜뭉치</title>
</head>
<!-- Jqeury -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- dateFormating -->
<script>
  const getDate = (writeDate) => {
    let writeDateFormat = new Date(writeDate)
    let writeDday = new Date().getDate() - writeDateFormat.getDate();
    (writeDday != 1) ? document.write(writeDday + '일 전'): document.write('오늘')
  }
</script>

<body>
  <!-- top nav -->
  <%- include('htmlPiece/nav.html') %>

  <!-- 게시물 출력 -->
  <% articles.forEach(element => { %>
  <div class="feedBox card w-75 h-50 mb-5">
    <!-- 상단 영역 -->
    <div class="var-profile p-3">
      <!-- 작성자 프로필 로고 -->
      <div class="img-profile float-start"><img src="<%= element.auther.profileImgKey %>" alt=""></div>
      <!-- 작성자 닉네임 -->
      <div class="main-name-profile float-start ml-2"><%= element.auther.weeksomId %></div>
      <!-- 게시물 ... 버튼 -->
      <a href="" class="float-end btn-profile"><i class="material-icons">more_horiz</i></a>
    </div>

    <!-- 메인 이미지 영역 -->
    <div class="imgBox">
      <img src="<%= element.contentImgKey[0] %>" class="card-img-top" alt="...">
    </div>

    <!-- 하단 영역 -->
    <div class="card-body">
      <div class="card-btn d-flex mb-2">
        <!-- 좋아요 버튼 / 활성화 : favorite -->
        <a class="like-btn contents-btn mr-3" id='<%= element._id %>'><span class="material-icons">
            <%_ if (followingArr.indexOf(user.weeksomId) >= 0) { %>
            favorite
            <%_ } else { %>
            favorite_border
            <%_ } %>
          </span></a>
        <!-- 댓글 버튼 -->
        <a href='/comment?article_id=<%= element._id %>' class="contents-btn mr-3"><span
            class="material-icons">chat_bubble_outline</span></a>
        <!-- DM 버튼 -->
        <a href="" class="contents-btn mr-3"><span class="material-icons">mail_outline</span></a>
        <!-- 북마크 버튼 / 활성화 : bookmark -->
        <a href="" class="contents-btn ml-auto"><span class="material-icons">bookmark_outline</span></a>
      </div>

      <!-- 좋아요 수 -->
      <a href="">
        <h5 class="card-title"><b>좋아요 <span class="likeCount<%= element._id %>"><%= element.likeCount %></span>개</b>
        </h5>
      </a>
      <!-- 작성자 메인 글 -->
      <p class="card-text"><a href=""><span
            class="name-profile mr-2"><%= element.auther.weeksomId %></span></a><%= element.contentText %></p>
      <!-- 더 보기 <a href=""><span class="more ml-1">...더 보기</span></a> -->

      <!-- 댓글 모두보기 -->
      <a href='/comment?article_id=<%= element._id %>'>
        <p class="card-text mb-2">댓글 더 보기</p>
      </a>

      <!-- 댓글 미리보기
          <div class="comment_box d-flex">
            <a href="" class="comment-name mr-2"><p><span class="name-profile">easy</span></p></a>
            <p><span class="comment-comment">여기 댓글 맛집이네</span></p>
            <a href="" class="comment-like ml-auto"><p><span class="material-icons">favorite_border</span></p></a>
            활성화 <a href="" class="like-btn mr-3"><span class="material-icons">favorite</span></a>
          </div>
          <div class="comment_box d-flex">
            <a href="" class="comment-name mr-2"><p><span class="name-profile">chan</span></p></a>
            <p><span class="comment-comment">강아지는 역시 강아지죠</span></p>
            <a href="" class="comment-like ml-auto"><p><span class="material-icons">favorite_border</span></p></a>
            활성화 <a href="" class="like-btn mr-3"><span class="material-icons">favorite</span></a>
          </div> -->

      <!-- 발행 날짜 -->
      <p class="postDate mt-2">
        <script>
          getDate('<%= element.createDate %>')
        </script>
      </p>
    </div>
  </div>
  <% }) %>




  <br><br><br><br><br><br><br>

  <!-- 하단 nav 바 -->
  <%- include('htmlPiece/bottomNav.html') %>

  <!-- 부트스트랩 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
  </script>

  <!-- ajax -->
  <script>
    console.log('<%= myName %>')
    $(function () {
      // like 처리
      $('.like-btn').click(function (likeBtn) {
        // 좋아요 처리 == 1 , 안 좋아요 == 0
        let status = likeBtn.target.innerHTML === 'favorite_border' ? 1 : 0
        let thisSpan = $(" span", this)
        let articleId = $(this).attr('id')
        let like = ".likeCount" + articleId
        // 좋아요 안 한 상태
        if (thisSpan.text() == 'favorite_border') {
          $.ajax({
            url: '/article/likeUpdate',
            type: 'post',
            data: {
              'articleId': articleId,
              'status': status
            }
          }).done((result) => {
            // thisSpan.text('favorite')
            // thisSpan.css('color', 'red')
          }).fail((err) => {
            // thisSpan.text('favorite')
            // thisSpan.css('color', 'red')
            // $(like).text(Number($(like).text())+1)
          })
          // 좋아요 한 상태
        } else {
          $.ajax({
            url: '/unLike',
            type: 'post',
            data: articleId
          }).done((result) => {
            thisSpan.text('favorite_border')
          }).fail((err) => {
            thisSpan.text('favorite_border')
            thisSpan.css('color', '')
            $(like).text(Number($(like).text()) - 1)
          })
        }
      })
    })
  </script>
</body>

</html>