<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>profile</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <!-- 구글폰츠 아이콘 -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- 리셋 css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <!-- 문서 css -->
    <link rel="stylesheet" href="/public/css/profile.css" />
  </head>
  <body>
    <!-- 상단바 -->
    <nav>
      <div id="weeksomId"><%= 프로필.weeksomId %></div>
      <div id="navIcon">
        <i class="fi fi-rr-add"></i>
        <i class="fi fi-rr-menu-burger"></i>
      </div>
    </nav>
    <!-- 내용 -->
    <section>
      <div class="profile">
        <div>
          <img
            id="profileImg"
            src="<%= 프로필.profileImgKey %>"
            alt="프로필이미지"
          />
        </div>
        <div>
          <div><%= 프로필.articleCount %></div>
          <span>게시물</span>
        </div>
        <div>
          <div><%= 프로필.followerCount %></div>
          <span>팔로워</span>
        </div>
        <div>
          <div><%= 프로필.followerCount %></div>
          <span>팔로잉</span>
        </div>
      </div>
      <div class="profile"><%= 프로필.nickname %></div>

      <a href="/acount/modify">프로필 정보 변경</a>
      <div class="tap">
        <div class="tapEl">
          <i class="fi fi-rr-portrait"></i>
        </div>
        <div class="tapEl">
          <i class="fi fi-rr-bookmark"></i>
        </div>
        <div class="tapEl">
          <i class="fi fi-rr-heart"></i>
        </div>
      </div>

      <div class="article">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </section>
    <!-- 하단정보 -->
    <!-- <footer></footer> -->
  </body>
</html>
