<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- 프로젝트 css -->
    <link rel="stylesheet" href="/public/css/main.css">
    <!-- 구글폰츠 아이콘 -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <title>주간솜뭉치</title> 
  </head>
  <!-- Jqeury -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <!-- dateFormating -->
  <script>
    const getDate = (writeDate) => {
      let writeDateFormat = new Date(writeDate)
      let writeDday = new Date().getDate() - writeDateFormat.getDate();
      (writeDday != 1) ? document.write(writeDday + '일 전') : document.write('오늘')
    }
  </script>
  <!-- a 태그-->
  <script>
    $(document).ready(function(){
      $("img").mouseover(function(){
        $("img").css("background-color", "lightgray");
      });
    });
    </script>
  <body> 
    <!-- top nav -->
    <%- include('htmlPiece/nav.html') %>   
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        



      <div class="modal-footer">
        <input></input>
        <button type="button" class="btn btn-primary">게시</button>
      </div>
    </div>
  </div>
</div>
</div>
    <!-- 게시물 출력 -->
    <div class="d-flex flex-row">
    <% articles.forEach(element => { %>
        
        <!-- 메인 이미지 영역 -->
        <div class="p-2">
          <img src="<%= element.contentImgKey[0] %>" class="rounded float-left w-50" alt="...">
            <!-- 발행 날짜 -->
          <p class="postDate mt-2"><script>getDate('<%= element.createDate %>')</script></p>
          <span class="badge badge-success badge-pill">좋아요<%= element.likeCount %></span>
        </div>
  
      
  
          
       
          
      
    <% }) %>
</div>



    <br><br><br><br><br><br><br>

    <!-- 하단 nav 바 -->
    <%- include('htmlPiece/bottomNav.html') %>

    <!-- 부트스트랩 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  
  </body>
</html>